.App {
  width: 100%;
  height: 100%;
  background-color: white;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-morph-container {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
